<nav class="header">
  <div class="header-logo">
    <a href="">
      <img src="/assets/imgs/logo.png" alt="" class="header-logo_img">
    </a>
  </div>

  <ul class="header-container">
    <li class="header-container-item">
     <a href="">Новинки</a> 
    </li>
    
    <li class="header-container-item">
      <a href="">Жанр</a>
    </li>

    <li class="header-container-item">
      <a href="">Страна</a>
    </li>

    <li class="header-container-item">
      <a href="">Каталог</a>
    </li>

    <li class="header-container-item_search">
      <img src="/assets/icon/seacrh.png" alt="">
    </li>

    
  </ul>
</nav>
