<nav class="header">
  <div [routerLink]="['']" class="header-logo">
      <img src="/assets/imgs/logo.png" alt="" class="header-logo_img">
  </div>

  <ul class="header-container">
    <li class="header-container-item">
     <a href="">Новинки</a> 
    </li>
    
    <li class="header-container-item">
      <a href="">Жанр</a>
    </li>

    <li class="header-container-item">
      <a href="">Каталог</a>
    </li>

    <li class="header-container-item_search">
      <img src="/assets/icon/seacrh.png" alt="">
    </li>

    
  </ul>
</nav>
