.header{
    
    z-index: 100;
    padding-top: 1rem;
    padding-left: clamp(0rem, -2.727rem + 13.64vw, 7.5rem);
    padding-right: clamp(0rem, -2.727rem + 13.64vw, 7.5rem);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    color: #fff;
    font-family: 'SF-Pro-Display-Regular';
    display: flex;
    justify-content: space-between;
    
  
    .header-logo{
        cursor: pointer;
        display: flex;
        align-items: center;
        max-width: 140px;
        .header-logo_img{
            max-width: 240px;
            max-height: 33px;
        }
    }
  
    .header-container{
        display: flex;
        .header-container-item{
            padding-left: clamp(1rem, -0.091rem + 5.45vw, 4rem);
            
        }
        .header-container-item_search{
            padding-left: 1rem;
            border-left: 2px solid #fff;
            margin-left: 3rem;
           
        }
        .header-container-item_search img{
            min-width: 17px;
            min-height: 17px;
            max-width: 17px;
            max-height: 17px;
        }
    }
}