<main class="main">
  <app-header></app-header>
    <section class="main-content">
      <h2 class="create-header">Создание нового фильма</h2>
      <form class="create-form" action="">
          <ion-label class="create-label" >Название</ion-label>
          <ion-input class="input" placeholder="Введите название фильма"></ion-input>
          <ion-label class="create-label" >Жанр</ion-label>
          <ion-input class="input" placeholder="Введите название фильма"></ion-input>
      </form>
        
    </section>

</main>