
<ion-router-outlet>
  <section class="main">
    <app-header></app-header>
    <section class="main-content">
      <app-slider [filmArray]="filmSlider"></app-slider>
      <ion-grid>
        <ion-row>
          <ion-col class="card" *ngFor="let film of films" size="1">
            <app-card-preview  [routerLink]="['film',film.film_id]" [name]="film.name" [img]="film.avatar"></app-card-preview>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </section>
</ion-router-outlet>