.main{
    width: 12rem;
    min-height: 16rem;
    overflow: hidden;
    border-radius: 16px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(35 35 35);
    cursor: pointer;
}

.info-wrapper{
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    background-color:#131314b8;
    margin-top: auto;
    min-height: 15%;
}